<mat-grid-list [cols]="5">
  <mat-grid-tile *ngFor="let wanted of wantedList.items">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title">{{ wanted.title | titlecase }}</mat-card-title>
          <mat-card-subtitle *ngIf="wanted.sex">{{ wanted.sex }}</mat-card-subtitle>
          <img mat-card-sm-image src="{{wanted.images[0].original }}" alt="Photo is missed">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content *ngIf="wanted.reward_text">
        {{ wanted.reward_text }}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator #paginator
               [pageSize]="20"
               [length]="wantedList.total"
               [pageIndex]="pageIndex"
               [hidePageSize]="true"
               (page)="handlePageEvent($event)"
               >
</mat-paginator>

